.cl-userButtonPopoverCard .cl-userButtonPopoverFooter,
.cl-navbar .cl-internal-1dauvpw,
.ccl-footer,
.cl-internal-13u79ez,
.cl-internal-1dauvpw {
    display: none !important;
}

.cl-navbar,
.cl-internal-1cftg7i {
    background: #eadbff !important;
}

.cl-internal-1mdy2np {
    display: none !important;
}
svg {
    height: auto !important;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        box-shadow: none !important;
        background-color: white;
    }

    html, body {
        width: 100%;
        height: 100%;
    }

    .view-page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        height: 100% !important;
    }

    .container {
        width: 100%;
        max-width: 100%;
    }

    .print-area {
        page-break-before: auto;
        page-break-after: auto;
    }
}
