.cl-userButtonPopoverCard .cl-userButtonPopoverFooter,
.cl-navbar .cl-internal-1dauvpw,
.ccl-footer,
.cl-internal-13u79ez,
.cl-internal-1dauvpw {
    display: none !important;
}

.cl-navbar,
.cl-internal-1cftg7i {
    background: #eadbff !important;
}

.cl-internal-1mdy2np {
    display: none !important;
}
